@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Teko:300,400,500,600,700");

a {
    color: #64a4a2;
    font-weight: 400;
    text-decoration: none;
}
.allergies {
    text-align: center;
}
.allergies strong {
    display: block;
}
body {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
}
button {
    background-color: #64a4a2;
    font-family:"Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
    border: none;
    padding: 15px 25px;
    outline: none;
}
.categories li {
    text-align: center;
    font-size: 2.3rem;
}
.categories li b {
    display: block;
    font-family:"Teko", sans-serif;
    font-weight: 700;
    color: #64a4a2;
    margin-bottom: 8px;
    text-transform: lowercase;
}
dd, dt {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 300;
    margin-bottom: 12px;
}
form {
    margin:50px 0;
}
footer {
    margin: 25px;
    border-top: 2px solid #5C7C4B;
    padding: 20px 0 0;
}
footer p {
    text-align: center;
}
header {
    padding: 65px 25px 10px;
}
html {
  font-size: 10px;
}
img {
    max-width: 100%;
}
input, textarea {
    box-sizing: border-box;
    padding: 5px;
    font-size: 1.6rem;
    font-family:"Open Sans", sans-serif;
    font-weight: 300;
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
}
label {
    margin-top: 7px;
    margin-bottom: 5px;
    display: block;
    text-align: right;
}
li {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 300;
    margin-bottom:25px;
}
main {
    padding:25px 0;
}
nav a {
    color: #4A4A4A;
    font-weight: 300;
}
nav li {
    text-align: center;
    font-size: 2.3rem;
    border-top: 3px solid transparent;
}
nav li.active a {
    color: #C2762E;
    font-weight: 700;
}
.products {
    margin: 50px 0 0;
}
.products li {
    text-align: center;
}
.products li b {
    display: block;
    font-family:"Teko", sans-serif;
    font-size: 1.9rem;
    font-weight: 500;
    color: #64a4a2;
    margin-bottom: 8px;
    text-transform: lowercase;
}
strong {
    font-style: italic;
    font-weight: 600;
    color: #C2762E;
}
